.visitation-form {
  display: flex;
  flex-direction: column;
  width: 400px;
  margin: 0 auto;
}

.visitation-form label {
  display: block;
  margin-top: 25px;
}

.visitation-form h1 {
  margin-bottom: 25px;
}

.visitation-form .btn:hover {
  opacity: 0.7;
}
.visitation-form .btn {
  background-image: linear-gradient(to right, #43a8eb 0, #46debb 100%);
  border: none;
  border-radius: 20px;
  margin-top: 25px;
}
